.separator-block {
  height: clamp(240px, 27.77vw, 400px);
}

.wrapper__separator-block {
  padding: 0 15.27vw;
}

.separator-block__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.separator-block__img img {
  width: 69.4vw;
  height: auto;
}

@media (max-width: 768px) {
  .wrapper__separator-block {
    padding: 0;
  }
  .separator-block__img img {
    width: 100%;
  }
}