mixin separator(content) 
    section.separator-block.wrapper__separator-block.anim-block
        .separator-block__img
            picture 
                each value in content.separatorBlock.image.source 
                    source(media=value.media, srcset=value.srcSet)
                img(src=content.separatorBlock.image.img.src, alt=content.separatorBlock.image.img.alt)
