.lending-block {    
    height: 100%;
    width: 100%;
    border-radius: 30px;
    background-color: #DAD4C5;
}
.wrapper__lending-block {
    padding: clamp(20px, 4.44vw,64px);
    margin-bottom: -50px;
}
.lending-block__content {
    display: flex;
    margin-bottom: 64px;
    height: max-content;
    border-radius: 30px;
    background: #CCC7B9;
}
.lending-block__info {
    padding: clamp(15px, 1.66vw ,24px);
    width: clamp(335px, 30.9vw, 445px);
    
}
.lending-block__tags {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    margin-bottom: 20px;
}
.lending-block__tag {
    padding: 0 clamp(10px, 1.11vw, 16px);
    position: relative;
    border-radius: 12px;
    font-size: (14px, 1.11vw, 16px);;
    line-height: 250%;
    font-family: "InterMedium";
    color: #9F9F9F;
    background-color: #C1BEB4;
    cursor: pointer;
    transition: all 0.1s linear;
    &:hover {
        color: #5B605C;
        background-color: white; 
        transition: all 0.1s linear;
    }
    &:has(.lending-block__input:checked) {
        color: black;
        background-color: #F7FF8F;
    }
}
.lending-block__input {
    position: absolute;
    left: 0;
    display: inline-block;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}
.lending-block__title {
    font-size: clamp(24px, 2.22vw, 32px);
    line-height: 150%;
    font-family: "InterMedium";
}
.lending-block__description {
    line-height: 150%;
    font-size: clamp(16px, 1.52vw, 22px);
    font-family: "InterRegular";
    color: #5B605C;
}
.lending-block__screen {
    margin: 8px;
    align-self: center;
    display: flex;
    justify-content: center;
    padding-top: clamp(24px, 5.2vw ,75px);
    width: clamp(325px, 59.65vw,859px);
    height: clamp(260px, 48.8vw ,704px);
    border-radius: 25px;
    background-color: white;
}
.lending-block__img {
    width: clamp(209px, 33.3vw, 480px);
}
.lending-block__name {
    font-size: clamp(32px, 5.41vw, 78px);
    font-family: "OswaldRegular";
    text-align: center;
    color: #E7C56C;
}

@media (max-width: 768px) {
    .lending-block__info {
        width: 100%;
    }
    .lending-block__content {
        flex-direction: column;
        align-items: center;
    }
}