include components/header/header.pug
include components/main/main-block/main-block.pug
include components/main/name-block/name-block.pug
include components/main/info-block/info-block.pug
include components/main/separator-block/separator-block.pug
include components/main/lending-block/lending-block.pug
include components/main/feedback-block/feedback-block.pug

mixin picture(images) 
    picture 
        each value in images.source 
            source(media=value.media, srcset=value.srcSet)
        img(src=images.img.src, alt=images.img.alt)
doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="./components/style.css")
        link(rel="shortcut icon", href="/img/logo-cat.svg", type="image/x-icon")
        title Mogu  
    body     
        -   
            var content= {
                headerBlock: {
                    images: {
                        logo: [
                            {
                                src: "/img/logo-cat.svg",
                                alt: "Логотип сайта"
                            },
                            {
                                src: "/img/logo-text.svg",
                                alt: "Название сайта"
                            }
                        ]
                    },
                    headerLinks: [
                        {
                          name: "О нас",
                          dataScroll: "info-block"
                        }, 
                        {
                          name: "Кейсы",
                          dataScroll: "lending-block"
                        }, 
                        {
                          name: "Обратная связь",
                          dataScroll: "feedback-block"
                        }
                    ],
                    button: "Войти",
                },
                mainBlock: {
                    title: {
                        t: "Таск-трекер ",
                        c: "для креативных ",
                        b: "команд"
                    },
                    subtitle: "Создавайте доски, приглашайте коллег и партнеров, работайте совместно над задачами!",
                    tags: ["Бесплатно", "Без привязки карты", "2000+ пользователей"],
                    button: "Начать",
                    label: ["Совместная работа", "Это ваш милейший коллега", "А это вы"],
                    images: {
                        avatars: ["/img/avatar-you.svg", "/img/icon-woman.png", "/img/icon-dog.png", "/img/icon-man.png", "/img/plus.svg"],
                        imagePen: {
                            source: [
                                {
                                    srcSet: "/img/desktop/pen.png",
                                    media: "(min-width: 768px)"
                                },
                                {
                                    srcSet: "/img/mobile/pen.png",
                                    media: "(min-width: 375px)"
                                }
                            ],
                            img: {
                                src: "/img/desktop/pen.png",
                                alt: 'Элемент оформления'                
                            }
                        }
                    }
                },
                nameBlock: {
                    images: [                 
                        {
                            src: "/img/b1.svg",
                            alt: "Часть оформления"
                        },
                        {
                            src: "/img/b2.svg",
                            alt: "Часть оформления"
                        },
                        {
                            src: "/img/b3.svg",
                            alt: "Часть оформления"
                        },
                        {
                            src: "/img/b4.svg",
                            alt: "Часть оформления"
                        },
                        //- {
                        //-     src: "/img/persona-5.png",
                        //-     alt: "Часть оформления"
                        //- },
                        //- {
                        //-     src: "/img/letter-m.svg",
                        //-     alt: "Буква названия"
                        //- },
                        //- {
                        //-     src: "/img/letter-o.svg",
                        //-     alt: "Буква названия"
                        //- },
                        //- {
                        //-     src: "/img/letter-g.svg",
                        //-     alt: "Буква названия"
                        //- },
                        //- {
                        //-     src: "/img/letter-u.svg",
                        //-     alt: "Буква названия"
                        //- }
                    ]
                },
                infoBlock: {
                    title: [
                        "Вся информация как на ладони",
                        "Ничто не мешает полету мысли",
                        "Порядок в подарок",
                        "Совместная работа на одной доске ",
                        "Настройка под вас"
                    ],
                    desc: [
                        "единая строка поиска для всех проектов - где бы ни была задача, вы быстро ее найдете",
                        "фиксируйте новые идеи в один клик, прикрепляйте файлы и подробные описания сути задач",
                        "задачи удобно структурировать с помощью чек-листов, меток и пользовательских полей",
                        "обновляйте статус задачи",
                        "следите за сроками дедлайнов",
                        "отправляйте завершенные задачи в архив",
                        "приглашайте коллег, бизнес-партнеров и заказчиков",
                        "устанавливайте персональный фон для каждого проекта"
                    ],
                    images: [
                        {
                            source: [
                                {
                                    srcSet: "/img/desktop/iMac.png",
                                    media: "(min-width: 768px)"
                                },
                                {
                                    srcSet: "/img/mobile/iMac.png",
                                    media: "(min-width: 375px)"
                                }
                            ],
                            img: {
                                src: "/img/desktop/iMac.png",
                                alt: 'Элемент оформления'                
                            }
                        },
                        {
                            source: [
                                {
                                    srcSet: "/img/desktop/Saly-23.png",
                                    media: "(min-width: 768px)"
                                },
                                {
                                    srcSet: "/img/mobile/Saly-23.png",
                                    media: "(min-width: 375px)"
                                }
                            ],
                            img: {
                                src: "/img/desktop/Saly-23.png",
                                alt: 'Элемент оформления'                
                            }
                        },
                        {
                            source: [
                                {
                                    srcSet: "/img/desktop/Folder.png",
                                    media: "(min-width: 768px)"
                                },
                                {
                                    srcSet: "/img/mobile/Folder.png",
                                    media: "(min-width: 375px)"
                                }
                            ],
                            img: {
                                src: "/img/desktop/Folder.png",
                                alt: 'Элемент оформления'                
                            }
                        },
                        {
                            source: [
                                {
                                    srcSet: "/img/desktop/Saly-31.png",
                                    media: "(min-width: 768px)"
                                },
                                {
                                    srcSet: "/img/mobile/Saly-31.png",
                                    media: "(min-width: 375px)"
                                }
                            ],
                            img: {
                                src: "/img/desktop/Saly-31.png",
                                alt: 'Элемент оформления'                
                            }
                        }
                    ]
                },
                separatorBlock: {
                    image: {
                        source: [
                            {
                                srcSet: "/img/desktop/doodle.png",
                                media: "(min-width: 768px)"
                            },
                            {
                                srcSet: "/img/mobile/doodle.png",
                                media: "(min-width: 375px)"
                            }
                        ],
                        img: {
                            src: "/img/desktop/doodle.png",
                            alt: "Элемент оформления"              
                        }
                    }
                },
                lendingBlock: {
                    title: "Создание лендинга",
                    desc: "Заведите доску, пригласите дизайнера, верстальщика и маркетолога, проведите брейншторм и зафиксируйте все идеи на доске, в колонке «Бэклог», приоритизируйте идеи - с помощью меток или отдельных колонок, наиболее приоритетным - назначьте дедлайны и передайте в работу исполнителям",
                    name: "скрин системы",
                    tags: ["Product marketing", "Growth marketing", "Creative", "Marketing", "PR"], 
                    image: {
                        source: [
                            {
                                srcSet: "/img/desktop/Camera.png",
                                media: "(min-width: 768px)"
                            },
                            {
                                srcSet: "/img/mobile/Camera.png",
                                media: "(min-width: 375px)"
                            }
                        ],
                        img: {
                            src: "/img/desktop/Camera.png",
                            alt: "Элемент оформления"              
                        }
                    }
                },
                feedbackBlock: {
                    title: "Обратная связь",
                    button: "отправить --&gt",
                    placeholder: ["Электронная почта", "О чем хотите расссказать?"],
                    image: {
                        source: [
                            {
                                srcSet: "/img/desktop/cat.svg",
                                media: "(min-width: 768px)"
                            },
                            {
                                srcSet: "/img/mobile/cat.svg",
                                media: "(min-width: 375px)"
                            }
                        ],
                        img: {
                            src: "/img/desktop/cat.svg",
                            alt: "Элемент оформления"              
                        }
                    }
                }

            }
        .wpapper
            +header(content)
            main.main
                +main(content)
                +name(content)
                +info(content)
                +separator(content) 
                +lending(content)
                +feedback(content)
        script(src="/js/header/header.js") 
        script(src="/js/mainBlock/mainBlock.js") 
        script(src="/js/feedbackBlock/feedbackBlock.js") 

                    
