doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="./css/style.css")
        title Mogu  
    body 
        -var lendingTags = ["Product marketing", "Growth marketing", "Creative", "Marketing", "PR"]  
        -var headerLinks = ["О нас", "Кейсы", "Обратная связь"]
        -var mainTags = ["Бесплатно", "Без привязки карты", "2000+ пользователей"]

        -var lendingImg = "/img/Camera.png"
        -var avatarsImg = ["/img/avatar-you.svg", "/img/icon-woman.png", "/img/icon-dog.png", "/img/icon-man.png", "/img/plus.svg"]
        -var mainImg = "/img/pen.png";
        -var nameImg = ["/img/persona-1.png", "/img/persona-2.png", "/img/persona-3.png", "/img/persona-4.png",
                        "/img/persona-5.png", "/img/letter-m.svg", "/img/letter-o.svg", "/img/letter-g.svg", "/img/letter-u.svg"]
        -var infoImg = ["/img/iMac.png", "/img/Saly-23.png", "/img/Folder.png", "/img/Saly-31.png"]
        -var headerImg = ["./img/logo-cat.svg", "./img/logo-text.svg"]
        -var separatorImg = "/img/doodle.png"
        -var feedbackImg = "/img/cat.png"
        .wpapper
            include css/header/header.pug
            main.main
                include css/main/main-block/main-block.pug
                include css/main/name-block/name-block.pug
                include css/main/info-block/info-block.pug
                include css/main/separator-block/separator-block.pug
                include css/main/lending-block/lending-block.pug
                include css/main/feedback-block/feedback-block.pug
        script(src="./js/header/header.js") 

                    
