doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="./css/style.css")
        title Mogu  
    body 
        -var lendingTags = ["Product marketing", "Growth marketing", "Creative", "Marketing", "PR"]  
        -var headerLinks = ["О нас", "Кейсы", "Обратная связь"]
        -var mainTags = ["Бесплатно", "Без привязки карты", "2000+ пользователей"]
        
        -var lendingImg = ["/img/desktop/Camera.png", "/img/mobile/Camera.png"]
        -var avatarsImg = ["/img/avatar-you.svg", "/img/icon-woman.png", "/img/icon-dog.png", "/img/icon-man.png", "/img/plus.svg"]
        -var mainImg = ["/img/desktop/pen.png", "/img/mobile/pen.png"];
        -var nameImg = ["/img/persona-1.png", "/img/persona-2.png", "/img/persona-3.png", "/img/persona-4.png", "/img/persona-5.png", "/img/letter-m.svg", "/img/letter-o.svg", "/img/letter-g.svg", "/img/letter-u.svg"]
        -var infoImg = ["/img/desktop/iMac.png", "/img/desktop/Saly-23.png", "/img/desktop/Folder.png", "/img/desktop/Saly-31.png", "/img/mobile/iMac.png", "/img/mobile/Saly-23.png", "/img/mobile/Folder.png", "/img/mobile/Saly-31.png"]
        -var headerImg = ["/img/logo-cat.svg", "/img/logo-text.svg"]
        -var separatorImg = ["/img/desktop/doodle.png", "/img/mobile/doodle.png"]
        -var feedbackImg = ["/img/desktop/cat.png", "/img/mobile/cat.svg"]
        .wpapper
            include css/header/header.pug
            main.main
                include css/main/main-block/main-block.pug
                include css/main/name-block/name-block.pug
                include css/main/info-block/info-block.pug
                include css/main/separator-block/separator-block.pug
                include css/main/lending-block/lending-block.pug
                include css/main/feedback-block/feedback-block.pug
        script(src="./js/header/header.js") 

                    
