doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="./css/style.css")
        title Document  
    body 
        div.wpapper
            header.header.wrapper__header
                div.header__block-logo
                    img(src="./img/logo-cat.svg", alt="")
                    img(src="./img/logo-text.svg", alt="")
                nav.header__links 
                    a.header__link(href="#") О нас
                    a.header__link(href="#") Кейсы
                    a.header__link(href="#") Обратная связь
                button.header__button Войти
                div.burger-menu
                    div.burger-menu__button
                        span 
                        span
                        span
                    div.burger-menu__content
                        nav.header__links 
                            a.header__link(href="#") О нас
                            a.header__link(href="#") Кейсы
                            a.header__link(href="#") Обратная связь
                        button.header__button Войти
            main.main
                section.main-block.wrapper__main 
                    div.main-block__left
                        div.main-block__text
                            h2.main-block__title 
                                | Таск-трекер 
                                br 
                                | для креативных 
                                br
                                | команд
                            p.main-block__subtitle Создавайте доски, приглашайте коллег и партнеров, работайте совместно над задачами!
                        div.main-block__bottom-row
                            ul.main-block__tags 
                                li.main-block__tag Бесплатно
                                li.main-block__tag Без привязки карты
                                li.main-block__tag 2000+ пользователей
                            div.main-block__input-block
                                input.main-block__input-seacrh(placeholder="Электронная почта")
                                button.main-block__button-search Начать 
                                    span
                    div.main-block__right
                        p.main-block__label Совместная работа
                        div.main-block__center-content
                            p.main-block__label Это ваш милейший коллега 
                            ul.main-block__avatars-row 
                                li.main-block__avatar 
                                    img(src="/img/avatar-you.svg", alt="")
                                li.main-block__avatar 
                                    img(src="/img/icon-woman.png", alt="")
                                li.main-block__avatar 
                                    img(src="/img/icon-dog.png", alt="")
                                li.main-block__avatar 
                                    img(src="/img/icon-man.png", alt="")
                                li.main-block__avatar 
                                    img(src="/img/plus.svg", alt="")
                            p.main-block__label А это вы
                        div.main-block__bottom-img
                            img(src="/img/pen.png", alt="")
                section.name-block.wrapper__name-block 
                        div.name-block__row 
                            div.name-block__letter 
                                div.name-block__person
                                    img(src="/img/persona-1.png", alt="")
                                div.name-block__person
                                    img(src="/img/persona-2.png", alt="")
                            div.name-block__letter 
                                div.name-block__person
                                    img(src="/img/persona-3.png", alt="")
                            div.name-block__letter 
                                div.name-block__person
                                    img(src="/img/persona-4.png", alt="")
                            div.name-block__letter    
                                div.name-block__person
                                    img(src="/img/persona-5.png", alt="")
                        div.name-block__column 
                            div.name-block__letter 
                                div.name-block__person
                                    img(src="/img/persona-1.png", alt="")
                                img(src="/img/letter-m.svg", alt="")
                                div.name-block__person
                                    img(src="/img/persona-2.png", alt="")
                            div.name-block__letter 
                                div.name-block__person
                                    img(src="/img/persona-3.png", alt="")
                                img(src="/img/letter-o.svg", alt="")
                            div.name-block__letter 
                                div.name-block__person
                                    img(src="/img/persona-4.png", alt="")
                                img(src="/img/letter-g.svg", alt="")
                            div.name-block__letter 
                                div.name-block__person
                                    img(src="/img/persona-5.png", alt="")
                                img(src="/img/letter-u.svg", alt="")
                section.info-block.wrapper__info-block
                    div.info-block__top-row 
                        div.info-block__item
                            div.info-block__img 
                                img(src="/img/iMac.png", alt="")
                            h3.info-block__title Вся информация как на ладони
                            p.info-block__description единая строка поиска для всех проектов - где бы ни была задача, вы быстро ее найдете
                        div.info-block__item
                            h3.info-block__title Ничто не мешает полету мысли
                            p.info-block__description фиксируйте новые идеи в один клик, прикрепляйте файлы и подробные описания сути задач
                            div.info-block__img 
                                img(src="/img/Saly-23.png", alt="")
                    div.info-block__top-row 
                        div.info-block__item
                            h3.info-block__title Порядок в подарок
                            p.info-block__description  задачи удобно структурировать с помощью чек-листов, меток и пользовательских полей
                            div.info-block__img 
                                img(src="/img/Folder.png", alt="")
                            div.info-block__flow 
                                p.info-block__item-flow обновляйте статус задачи 
                                div.info-block__arrow
                                p.info-block__item-flow следите за сроками дедлайнов
                                div.info-block__arrow
                                p.info-block__item-flow отправляйте завершенные задачи в архив
                    div.info-block__top-row 
                        div.info-block__item
                            h3.info-block__title Совместная работа на одной доске 
                            p.info-block__description приглашайте коллег, бизнес-партнеров и заказчиков 
                        div.info-block__item
                            div.info-block__img 
                                img(src="/img/Saly-31.png", alt="")
                        div.info-block__item
                            h3.info-block__title Настройка под вас 
                            p.info-block__description устанавливайте персональный фон для каждого проекта 
                section.separator-block.wrapper__separator-block
                    div.separator-block__img
                        img(src="/img/doodle.png", alt="")



                        

                        


        script(src="./js/header/header.js") 

                    
