
<section class="name-block wrapper__name-block"> 
  <div class="name-block__row"> 
    <div class="name-block__letter"> 
      <div class="name-block__person"><img src="/img/persona-1.png" alt=""/></div>
      <div class="name-block__person"><img src="/img/persona-2.png" alt=""/></div>
    </div>
    <div class="name-block__letter"> 
      <div class="name-block__person"><img src="/img/persona-3.png" alt=""/></div>
    </div>
    <div class="name-block__letter"> 
      <div class="name-block__person"><img src="/img/persona-4.png" alt=""/></div>
    </div>
    <div class="name-block__letter">   
      <div class="name-block__person"><img src="/img/persona-5.png" alt=""/></div>
    </div>
  </div>
  <div class="name-block__column"> 
    <div class="name-block__letter"> 
      <div class="name-block__person"><img src="/img/persona-1.png" alt=""/><img src="/img/letter-m.svg" alt=""/></div>
      <div class="name-block__person"><img src="/img/persona-2.png" alt=""/></div>
    </div>
    <div class="name-block__letter"> 
      <div class="name-block__person"><img src="/img/persona-3.png" alt=""/><img src="/img/letter-o.svg" alt=""/></div>
    </div>
    <div class="name-block__letter"> 
      <div class="name-block__person"><img src="/img/persona-4.png" alt=""/><img src="/img/letter-g.svg" alt=""/></div>
    </div>
    <div class="name-block__letter"> 
      <div class="name-block__person"><img src="/img/persona-5.png" alt=""/><img src="/img/letter-u.svg" alt=""/></div>
    </div>
  </div>
</section>