.name-block {
    height: clamp(400px, 69.4vw, 1000px);
    width: 100%;
    border-radius: 30px;
    background-color: #2B2B2B;

}

.wrapper__name-block {
    display: flex;
    justify-content: center;
}

.name-block__letters {
    margin-top: -100px;
    width: 75.69vw;
    display: flex;
    align-items: center;
    justify-content: center;

    & .name-block__letter:nth-child(1) {
        svg {
            width: clamp(180px, 31.25vw, 450px);
            height: auto;
            transform: scale(1.2);
        }
        .head,
        .center,
        .tr-5,
        .tr-4,
        .tr-3,
        .tr-2,
        .tr-1 {
            animation: picture 2s linear infinite;
        }

        .Vector_50,
        .Vector_79,
        .Vector_77,
        .Vector_80,
        .Vector_81,
        .Vector_82,
        .Vector_83,
        .Vector_84,
        .Vector_85,
        .Vector_86,
        .Vector_78,
        .Vector_52,
        .Vector_53,
        .Vector_51,
        .Vector_88,
        .Vector_87,
        .Vector_40,
        .Vector_41,
        .Vector_38,
        .Vector_39,
        .Vector_44 {
            animation: rotate-hand 2s linear infinite;
            transform-origin: top;
        }
    }

    & .name-block__letter:nth-child(2) {
        svg {
            position: relative;
            top: -40px;
            width: clamp(150px, 25.69vw, 370px);
            height: auto;
            transform: scale(1.2);
        }

        @media (max-width: 768px) {
            svg {
                transform: scale(1.2) rotatey(180deg);
            }
        }

        .h3-top {
            animation: head 2s linear infinite;
        }
    }

    & .name-block__letter:nth-child(3) {
        svg {
            position: relative;
            top: -30px;
            width: clamp(150px, 22.22vw, 320px);
            height: auto;
            transform: scale(1.2);
        }

        .h-4-arm-1,
        .h-4-arm-2,
        .picture,
        .Vector_70,
        .Vector_44,
        .Vector_45,
        .Vector_37,
        .Vector_72,
        .Vector_71,
        .Vector_73,
        .Vector_38,
        .Vector_47,
        .Vector_35,
        .Vector_42,
        .Vector_40,
        .Vector_43,
        .Vector_48,
        .Vector_39,
        .Vector_46,
        .Vector_41 {
            animation: picture 3s linear infinite;
        }
    }

    & .name-block__letter:nth-child(4) {
        svg {
            position: relative;
            top: -20px;
            width: clamp(130px, 17.26vw, 250px);
            height: auto;
            transform: scale(1.2);
        }

        .Vector_33,
        .Vector_29,
        .Vector_57,
        .Vector_30,
        .Vector_37,
        .Vector_25,
        .Vector_27,
        .Vector_26,
        .Vector_28,
        .Vector_32,
        .Vector_31,
        .Vector_24,
        .Vector_23,
        .Vector_66,
        .Vector_70,
        .Vector_71,
        .Vector_72,
        .Vector_61,
        .Vector_67,
        .Vector_62,
        .Vector_65,
        .Vector_64,
        .Vector_69,
        .Vector_63,
        .Vector_68,
        .Vector_60,
        .Vector_59 {
            animation: move-hand 2s linear 0.5s infinite;
            transform-origin: bottom;
        }
    }
}

@media (max-width: 768px) {
    .name-block {
        height: 1000px;
    }

    .name-block__letters {
        flex-direction: column;
    }
}

@keyframes head {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(5deg);
    }
}

@keyframes move-hand {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(2px);
    }
}

@keyframes rotate-hand {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(2deg);
    }
}


@keyframes picture {
    0% {
        transform: translateY(0);
    }

    25% {
        transform: translateY(2px);
    }

    50% {
        transform: translateY(0);
    }

    75% {
        transform: translateY(2px);
    }

    100% {
        transform: translateY(0);
    }
}