.name-block {
  height: clamp(400px, 69.4vw, 1000px);
  width: 100%;
  border-radius: 30px;
  background-color: #2B2B2B;
}

.wrapper__name-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.name-block__row {
  width: 75.69vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}
.name-block__row::before {
  content: "";
  position: absolute;
  display: inline-block;
  max-width: 1090px;
  width: 75.69vw;
  height: 333px;
  background: url(/img/name.png) center/100% no-repeat;
  z-index: 10;
}
.name-block__row::after {
  content: "";
  position: absolute;
  top: clamp(288px, 37vw, 532px);
  max-width: 1311px;
  width: 91.1vw;
  height: clamp(40px, 4.86vw, 70px);
  border-radius: 100%;
  background: #232323;
}
.name-block__row .name-block__letter:nth-child(1) .name-block__person:first-child {
  top: clamp(-100px, -6.94vw, -53px);
  left: clamp(-105px, -7.33vw, -57px);
  z-index: 15;
}
.name-block__row .name-block__letter:nth-child(1) .name-block__person:first-child img {
  position: relative;
  -webkit-animation: move-row 3s linear infinite;
          animation: move-row 3s linear infinite;
}
.name-block__row .name-block__letter:nth-child(1) .name-block__person:last-child {
  top: clamp(-155px, -10.8vw, 10px);
  left: clamp(40px, 6vw, 86px);
  z-index: 15;
}
.name-block__row .name-block__letter:nth-child(1) .name-block__person:last-child img {
  position: relative;
  -webkit-animation: move-row 3s linear 0.2s infinite;
          animation: move-row 3s linear 0.2s infinite;
}
.name-block__row .name-block__letter:nth-child(2) .name-block__person:first-child {
  top: clamp(-105px, -7.33vw, -57px);
  left: clamp(20px, 2.77vw, 40px);
  z-index: 5;
}
.name-block__row .name-block__letter:nth-child(2) .name-block__person:first-child img {
  position: relative;
  -webkit-animation: move-row 3s linear 0.4s infinite;
          animation: move-row 3s linear 0.4s infinite;
}
.name-block__row .name-block__letter:nth-child(3) .name-block__person:first-child {
  top: clamp(-136px, -9.5vw, -73px);
  left: clamp(20px, 2.77vw, 40px);
  z-index: 10;
}
.name-block__row .name-block__letter:nth-child(3) .name-block__person:first-child img {
  position: relative;
  -webkit-animation: move-row 3s linear 0.6s infinite;
          animation: move-row 3s linear 0.6s infinite;
}
.name-block__row .name-block__letter:nth-child(4) .name-block__person:first-child {
  top: clamp(-80px, -5.55vw, -43px);
  left: clamp(-21px, -1.5vw, -11px);
  z-index: 10;
}
.name-block__row .name-block__letter:nth-child(4) .name-block__person:first-child img {
  position: relative;
  -webkit-animation: move-row 3s linear 0.8s infinite;
          animation: move-row 3s linear 0.8s infinite;
}
@-webkit-keyframes move-row {
  0% {
    top: 0;
  }
  25% {
    top: -5px;
  }
  50% {
    top: 0px;
  }
  75% {
    top: 5px;
  }
  100% {
    top: 0px;
  }
}
@keyframes move-row {
  0% {
    top: 0;
  }
  25% {
    top: -5px;
  }
  50% {
    top: 0px;
  }
  75% {
    top: 5px;
  }
  100% {
    top: 0px;
  }
}

.name-block__person {
  position: relative;
}
.name-block__person img {
  max-width: 100%;
  height: auto;
}

.name-block__column {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.name-block__column .name-block__letter {
  position: relative;
}
.name-block__column .name-block__letter img {
  position: relative;
  z-index: 10;
}
.name-block__column .name-block__letter:not(:last-child) {
  margin-bottom: 70px;
}
.name-block__column .name-block__letter:first-child {
  z-index: 1;
}
.name-block__column .name-block__letter:first-child::before {
  content: "";
  position: absolute;
  bottom: -15px;
  left: -30%;
  display: inline-block;
  width: 292px;
  height: 30px;
  border-radius: 100%;
  z-index: -1;
  background-color: #232323;
}
.name-block__column .name-block__person {
  position: absolute;
}
.name-block__column .name-block__letter:nth-child(1) .name-block__person:first-child {
  top: -100px;
  left: -70px;
  width: 180px;
  z-index: 15;
}
.name-block__column .name-block__letter:nth-child(1) .name-block__person:first-child img {
  position: relative;
  -webkit-animation: move-column 3s linear infinite;
          animation: move-column 3s linear infinite;
}
.name-block__column .name-block__letter:nth-child(1) .name-block__person:last-child {
  top: 10px;
  left: 40px;
  width: 165px;
  z-index: 15;
}
.name-block__column .name-block__letter:nth-child(1) .name-block__person:last-child img {
  position: relative;
  -webkit-animation: move-column 3s linear 0.2s infinite;
          animation: move-column 3s linear 0.2s infinite;
}
.name-block__column .name-block__letter:nth-child(2) .name-block__person:first-child {
  top: -55px;
  left: -25px;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  z-index: 5;
  width: 182px;
}
.name-block__column .name-block__letter:nth-child(2) .name-block__person:first-child img {
  position: relative;
  -webkit-animation: move-column 3s linear 0.4s infinite;
          animation: move-column 3s linear 0.4s infinite;
}
.name-block__column .name-block__letter:nth-child(3) .name-block__person:first-child {
  top: -80px;
  left: 50px;
  z-index: 15;
  width: 114px;
}
.name-block__column .name-block__letter:nth-child(3) .name-block__person:first-child img {
  position: relative;
  -webkit-animation: move-column 3s linear 0.6s infinite;
          animation: move-column 3s linear 0.6s infinite;
}
.name-block__column .name-block__letter:nth-child(4) .name-block__person:first-child {
  top: -35px;
  left: -40px;
  z-index: 15;
  width: 170px;
}
.name-block__column .name-block__letter:nth-child(4) .name-block__person:first-child img {
  position: relative;
  -webkit-animation: move-column 3s linear 0.8s infinite;
          animation: move-column 3s linear 0.8s infinite;
}
@-webkit-keyframes move-column {
  0% {
    top: 0;
  }
  25% {
    top: -5px;
  }
  50% {
    top: 0px;
  }
  75% {
    top: 5px;
  }
  100% {
    top: 0px;
  }
}
@keyframes move-column {
  0% {
    top: 0;
  }
  25% {
    top: -5px;
  }
  50% {
    top: 0px;
  }
  75% {
    top: 5px;
  }
  100% {
    top: 0px;
  }
}

@media (max-width: 768px) {
  .name-block {
    height: 1100px;
  }
  .name-block__row {
    display: none;
  }
  .name-block__column {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}