.name-block {
  height: clamp(400px, 69.4vw, 1000px);
  width: 100%;
  border-radius: 30px;
  background-color: #2B2B2B;
}

.wrapper__name-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.name-block__letters {
  margin-top: -100px;
  width: 75.69vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.name-block__letters .name-block__letter:nth-child(1) svg {
  width: clamp(180px, 31.25vw, 450px);
  height: auto;
}
.name-block__letters .name-block__letter:nth-child(1) .head,
.name-block__letters .name-block__letter:nth-child(1) .center,
.name-block__letters .name-block__letter:nth-child(1) .tr-5,
.name-block__letters .name-block__letter:nth-child(1) .tr-4,
.name-block__letters .name-block__letter:nth-child(1) .tr-3,
.name-block__letters .name-block__letter:nth-child(1) .tr-2,
.name-block__letters .name-block__letter:nth-child(1) .tr-1 {
  -webkit-animation: picture 2s linear infinite;
          animation: picture 2s linear infinite;
}
.name-block__letters .name-block__letter:nth-child(1) .Vector_50,
.name-block__letters .name-block__letter:nth-child(1) .Vector_79,
.name-block__letters .name-block__letter:nth-child(1) .Vector_77,
.name-block__letters .name-block__letter:nth-child(1) .Vector_80,
.name-block__letters .name-block__letter:nth-child(1) .Vector_81,
.name-block__letters .name-block__letter:nth-child(1) .Vector_82,
.name-block__letters .name-block__letter:nth-child(1) .Vector_83,
.name-block__letters .name-block__letter:nth-child(1) .Vector_84,
.name-block__letters .name-block__letter:nth-child(1) .Vector_85,
.name-block__letters .name-block__letter:nth-child(1) .Vector_86,
.name-block__letters .name-block__letter:nth-child(1) .Vector_78,
.name-block__letters .name-block__letter:nth-child(1) .Vector_52,
.name-block__letters .name-block__letter:nth-child(1) .Vector_53,
.name-block__letters .name-block__letter:nth-child(1) .Vector_51,
.name-block__letters .name-block__letter:nth-child(1) .Vector_88,
.name-block__letters .name-block__letter:nth-child(1) .Vector_87,
.name-block__letters .name-block__letter:nth-child(1) .Vector_40,
.name-block__letters .name-block__letter:nth-child(1) .Vector_41,
.name-block__letters .name-block__letter:nth-child(1) .Vector_38,
.name-block__letters .name-block__letter:nth-child(1) .Vector_39,
.name-block__letters .name-block__letter:nth-child(1) .Vector_44 {
  -webkit-animation: rotate-hand 2s linear infinite;
          animation: rotate-hand 2s linear infinite;
  -webkit-transform-origin: top;
          transform-origin: top;
}
.name-block__letters .name-block__letter:nth-child(2) svg {
  width: clamp(150px, 25.69vw, 370px);
  height: auto;
}
.name-block__letters .name-block__letter:nth-child(2) .h3-top {
  -webkit-animation: head 2s linear infinite;
          animation: head 2s linear infinite;
}
.name-block__letters .name-block__letter:nth-child(3) svg {
  width: clamp(150px, 22.22vw, 320px);
  height: auto;
}
.name-block__letters .name-block__letter:nth-child(3) .h-4-arm-1,
.name-block__letters .name-block__letter:nth-child(3) .h-4-arm-2,
.name-block__letters .name-block__letter:nth-child(3) .picture,
.name-block__letters .name-block__letter:nth-child(3) .Vector_70,
.name-block__letters .name-block__letter:nth-child(3) .Vector_44,
.name-block__letters .name-block__letter:nth-child(3) .Vector_45,
.name-block__letters .name-block__letter:nth-child(3) .Vector_37,
.name-block__letters .name-block__letter:nth-child(3) .Vector_72,
.name-block__letters .name-block__letter:nth-child(3) .Vector_71,
.name-block__letters .name-block__letter:nth-child(3) .Vector_73,
.name-block__letters .name-block__letter:nth-child(3) .Vector_38,
.name-block__letters .name-block__letter:nth-child(3) .Vector_47,
.name-block__letters .name-block__letter:nth-child(3) .Vector_35,
.name-block__letters .name-block__letter:nth-child(3) .Vector_42,
.name-block__letters .name-block__letter:nth-child(3) .Vector_40,
.name-block__letters .name-block__letter:nth-child(3) .Vector_43,
.name-block__letters .name-block__letter:nth-child(3) .Vector_48,
.name-block__letters .name-block__letter:nth-child(3) .Vector_39,
.name-block__letters .name-block__letter:nth-child(3) .Vector_46,
.name-block__letters .name-block__letter:nth-child(3) .Vector_41 {
  -webkit-animation: picture 3s linear infinite;
          animation: picture 3s linear infinite;
}
.name-block__letters .name-block__letter:nth-child(4) svg {
  width: clamp(130px, 17.26vw, 250px);
  height: auto;
}
.name-block__letters .name-block__letter:nth-child(4) .Vector_33,
.name-block__letters .name-block__letter:nth-child(4) .Vector_29,
.name-block__letters .name-block__letter:nth-child(4) .Vector_57,
.name-block__letters .name-block__letter:nth-child(4) .Vector_30,
.name-block__letters .name-block__letter:nth-child(4) .Vector_37,
.name-block__letters .name-block__letter:nth-child(4) .Vector_25,
.name-block__letters .name-block__letter:nth-child(4) .Vector_27,
.name-block__letters .name-block__letter:nth-child(4) .Vector_26,
.name-block__letters .name-block__letter:nth-child(4) .Vector_28,
.name-block__letters .name-block__letter:nth-child(4) .Vector_32,
.name-block__letters .name-block__letter:nth-child(4) .Vector_31,
.name-block__letters .name-block__letter:nth-child(4) .Vector_24,
.name-block__letters .name-block__letter:nth-child(4) .Vector_23,
.name-block__letters .name-block__letter:nth-child(4) .Vector_66,
.name-block__letters .name-block__letter:nth-child(4) .Vector_70,
.name-block__letters .name-block__letter:nth-child(4) .Vector_71,
.name-block__letters .name-block__letter:nth-child(4) .Vector_72,
.name-block__letters .name-block__letter:nth-child(4) .Vector_61,
.name-block__letters .name-block__letter:nth-child(4) .Vector_67,
.name-block__letters .name-block__letter:nth-child(4) .Vector_62,
.name-block__letters .name-block__letter:nth-child(4) .Vector_65,
.name-block__letters .name-block__letter:nth-child(4) .Vector_64,
.name-block__letters .name-block__letter:nth-child(4) .Vector_69,
.name-block__letters .name-block__letter:nth-child(4) .Vector_63,
.name-block__letters .name-block__letter:nth-child(4) .Vector_68,
.name-block__letters .name-block__letter:nth-child(4) .Vector_60,
.name-block__letters .name-block__letter:nth-child(4) .Vector_59 {
  -webkit-animation: move-hand 2s linear 0.5s infinite;
          animation: move-hand 2s linear 0.5s infinite;
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
}

.name-block__letter img {
  height: 141px;
  width: 150px;
}

@media (max-width: 768px) {
  .name-block {
    height: 1000px;
  }
  .name-block__letters {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@-webkit-keyframes head {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
  }
}
@keyframes head {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
  }
}
@-webkit-keyframes move-hand {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  50% {
    -webkit-transform: translateX(2px);
            transform: translateX(2px);
  }
}
@keyframes move-hand {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  50% {
    -webkit-transform: translateX(2px);
            transform: translateX(2px);
  }
}
@-webkit-keyframes rotate-hand {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(2deg);
            transform: rotate(2deg);
  }
}
@keyframes rotate-hand {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(2deg);
            transform: rotate(2deg);
  }
}
@-webkit-keyframes picture {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  25% {
    -webkit-transform: translateY(2px);
            transform: translateY(2px);
  }
  50% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  75% {
    -webkit-transform: translateY(2px);
            transform: translateY(2px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@keyframes picture {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  25% {
    -webkit-transform: translateY(2px);
            transform: translateY(2px);
  }
  50% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  75% {
    -webkit-transform: translateY(2px);
            transform: translateY(2px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}