mixin name(content)
    section.name-block.wrapper__name-block.anim-block
        .name-block__letters 
                .name-block__letter 
                    include b1.svg
                .name-block__letter
                    include b2.svg
                .name-block__letter
                    include b3.svg
                .name-block__letter
                    include b4.svg
                    


    