section.info-block.wrapper__info-block
    .info-block__top-row 
        .info-block__item
            .info-block__img 
                img(src=infoImg[0], alt="")
            h3.info-block__title Вся информация как на ладони
            p.info-block__description единая строка поиска для всех проектов - где бы ни была задача, вы быстро ее найдете
        .info-block__item
            h3.info-block__title Ничто не мешает полету мысли
            p.info-block__description фиксируйте новые идеи в один клик, прикрепляйте файлы и подробные описания сути задач
            .info-block__img 
                img(src=infoImg[1], alt="")
    .info-block__top-row 
        .info-block__item
            h3.info-block__title Порядок в подарок
            p.info-block__description  задачи удобно структурировать с помощью чек-листов, меток и пользовательских полей
            .info-block__img 
                img(src=infoImg[2], alt="")
            .info-block__flow 
                p.info-block__item-flow обновляйте статус задачи 
                div.info-block__arrow
                p.info-block__item-flow следите за сроками дедлайнов
                div.info-block__arrow
                p.info-block__item-flow отправляйте завершенные задачи в архив
    .info-block__top-row 
        .info-block__item
            h3.info-block__title Совместная работа на одной доске 
            p.info-block__description приглашайте коллег, бизнес-партнеров и заказчиков 
        .info-block__item
            .info-block__img 
                img(src=infoImg[3], alt="")
        .info-block__item
            h3.info-block__title Настройка под вас 
            p.info-block__description устанавливайте персональный фон для каждого проекта 