.feedback-block {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.wrapper__feedback-block {
  border-radius: 30px;
  padding: clamp(20px, 4.44vw, 64px);
  background-color: white;
}

.feedback-block__form {
  margin-right: 60px;
  padding: 32px clamp(15px, 4.44vw, 64px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: clamp(335px, 60.2vw, 867px);
  border-radius: 30px;
  background: #F7F7F7;
}

.feedback-block__title {
  margin-bottom: 40px;
  font-size: clamp(32px, 5vw, 72px);
  font-family: "OswaldMedium";
}

.feedback-block__input-email {
  margin-bottom: 16px;
  padding: 30px 24px;
  border-radius: 30px;
  border: 2px solid #B0B1C1;
  font-size: clamp(18px, 1.94vw, 28px);
  font-family: "InterRegular";
}
.feedback-block__input-email:focus {
  border-color: black;
}

.feedback-block__input-text {
  margin-bottom: 32px;
  padding: 30px 24px;
  height: 240px;
  border-radius: 30px;
  border: 2px solid #B0B1C1;
  font-size: clamp(18px, 1.94vw, 28px);
  font-family: "InterRegular";
}

.feedback-block__button {
  width: 252px;
  height: clamp(78px, 6.94vw, 100px);
  font-size: clamp(20px, 1.94vw, 28px);
  font-family: "InterMedium";
  border-radius: 30px;
  background-color: black;
  color: white;
}
.feedback-block__button:hover {
  outline: 2px solid black;
  background-color: white;
  color: black;
}

.feedback-block__img {
  position: absolute;
  right: 0;
  bottom: 0;
  max-width: clamp(377px, 31.18vw, 449px);
}
.feedback-block__img img {
  max-width: 100%;
  width: clamp(250px, 31.18vw, 449px);
  height: auto;
}

@media (max-width: 768px) {
  .feedback-block__form {
    width: 100%;
    margin-right: 0;
  }
  .feedback-block__button {
    width: 100%;
  }
  .feedback-block__img {
    bottom: -250px;
  }
}