section.feedback-block.wrapper__feedback-block
    form.feedback-block__form(action="")
        h3.feedback-block__title Обратная связь
        input.feedback-block__input-email(type="text" placeholder="Электронная почта")
        input.feedback-block__input-text(type="text" placeholder="О чем хотите расссказать?")
        button.feedback-block__button отправить --&gt;
    .feedback-block__img
        picture 
            source(media="(min-width: 768px)", srcset=feedbackImg[0])
            source(media="(min-width: 375px)", srcset=feedbackImg[1])
            img(src=feedbackImg[0], alt="")