section.feedback-block.wrapper__feedback-block
    form.feedback-block__form(action="")
        h3.feedback-block__title Обратная связь
        input.feedback-block__input-email(type="text" placeholder="Электронная почта")
        input.feedback-block__input-text(type="text" placeholder="О чем хотите расссказать?")
        button.feedback-block__button отправить --&gt;
    .feedback-block__img
        img(src=feedbackImg, alt="")