.name-block {
    height: clamp(400px,69.4vw, 1000px);
    width: 100%;
    border-radius: 30px;
    background-color: #2B2B2B;

}
.wrapper__name-block {
    display: flex;
    justify-content: center;
}
.name-block__row {
    width: 75.69vw;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    &::before {
        content: "";
        position: absolute;
        display: inline-block;
        max-width: 1090px;
        width: 75.69vw;
        height: 333px;
        background: url(/img/name.png) center/ 100% no-repeat;
        z-index: 10;
    }
    &::after {
        content: "";
        position: absolute;
        top: clamp(288px, 37vw ,532px);
        max-width: 1311px;
        width: 91.1vw;
        height: clamp(40px, 4.86vw ,70px);
        border-radius: 100%;
        background: #232323;
    }
    & .name-block__letter:nth-child(1) {
        .name-block__person:first-child {
            top:  clamp(-100px, -6.94vw,-53px);
            left: clamp(-105px, -7.33vw, -57px);
            z-index: 15;
        }
        .name-block__person:last-child {
            top:  clamp(-155px, -10.8vw, 10px);
            left: clamp(40px, 6vw, 86px);
            z-index: 15;
        }
    }
    & .name-block__letter:nth-child(2) {
        .name-block__person:first-child {
            top:  clamp(-105px, -7.33vw, -57px);
            left: clamp(20px, 2.77vw, 40px);
            z-index: 5;
        }
    }
    & .name-block__letter:nth-child(3) {
        .name-block__person:first-child {
            top:  clamp(-136px, -9.5vw, -73px);
            left: clamp(20px, 2.77vw, 40px);
            z-index: 10;
        }
    }
    & .name-block__letter:nth-child(4) {
        .name-block__person:first-child {
            top:  clamp(-80px, -5.55vw, -43px);
            left: clamp(-21px, -1.5vw, -11px);
            z-index: 10;
        }
    }
}

.name-block__person {
    position: relative;
    img {
        max-width: 100%;
        height: auto;
    }
}
.name-block__column { 
    display: none;
    flex-direction: column;
    justify-content: center;
    & .name-block__letter {
        position: relative;
        img {
            position: relative;
            z-index: 10; 
        }
    }
    & .name-block__letter:not(:last-child) {
        margin-bottom: 70px;
    }
    & .name-block__letter:first-child {
        z-index: 1;
        &::before {
            content: "";
            position: absolute;
            bottom: -15px;
            left: -30%;
            display: inline-block;
            width: 292px;
            height: 30px;
            border-radius: 100%;
            z-index: -1;
            background-color: #232323;
        }
    }
    .name-block__person { 
        position: absolute;
    }
    & .name-block__letter:nth-child(1) {
        .name-block__person:first-child {
            top: -100px;
            left: -70px;
            width: 180px;
            z-index: 15;
        }
        .name-block__person:last-child {
            top: 10px;
            left: 40px;
            width: 165px;
            z-index: 15;
        }
    }
    & .name-block__letter:nth-child(2) {
        .name-block__person:first-child {
            top: -55px;
            left: -25px;
            transform: rotateY(180deg);
            z-index: 5;
            width: 182px;
        }
    }
    & .name-block__letter:nth-child(3) {
        .name-block__person:first-child {
            top: -80px;
            left: 50px;
            z-index: 15;
            width: 114px;
        }
    }
    & .name-block__letter:nth-child(4) {
        .name-block__person:first-child {
            top: -35px;
            left: -40px;
            z-index: 15;
            width: 170px;
        }
    }
}
@media (max-width: 768px) {
    .name-block {
        height: 1100px;
    }
    .name-block__row {
        display: none;
    }
    .name-block__column { 
        display: flex;
    }
}